config SHIELD_PARTICLE_LEFT
    def_bool $(shields_list_contains,particle_left)

# No whitespace after the comma or in your part name!
config SHIELD_PARTICLE_RIGHT
    def_bool $(shields_list_contains,particle_right)

